{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        {{student.name}} | Dashboard
    </title>
    <link rel="stylesheet" href="{% static 'dashboard/bootstrap/css/bootstrap.min.css' %}">
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/dnv3ztqf1/image/upload/v1605866352/Images%20for%20UNSCRIPT%20ROOKIE/favicon/logo_transparent_background_u9eopl.png" />

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'dashboard/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/fonts/fontawesome5-overrides.min.css' %}">
</head>

<body id="page-top">
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Doctor</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove Dr. aa from the Database?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
                    <a href="/deleteDoctor/84"><button type="button" class="btn btn-danger">Delete
                            Doctor</button></a>
                </div>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="/">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>CTC</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="/studentprofile/{{student.pk}}/"><i
                                class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/teachers"><i
                                class="fas fa-user-circle"></i><span>Teachers</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/allcourses"><i
                                class="fas fa-table"></i><span>Courses</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form action='/search' method="POST"
                            class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            {% csrf_token %}
                            <div class="input-group"><input name="query" id="query" for="query"
                                    class="bg-light form-control border-0 small" type="text"
                                    placeholder="Search for material">
                                <div class="input-group-append"><button data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" class="btn btn-primary py-0" type="submit"><i
                                            class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link"
                                    aria-expanded="false" data-toggle="dropdown" href="#"><i
                                        class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in"
                                    aria-labelledby="searchDropdown">
                                    <form action='/search' method="POST"
                                        class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                        {% csrf_token %}
                                        <div class="input-group"><input name="query" id="query" for="query"
                                                class="bg-light form-control border-0 small" type="text"
                                                placeholder="Search for material from our crawler">
                                            <div class="input-group-append"><button data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal" class="btn btn-primary py-0"
                                                    type="submit"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        aria-expanded="false" data-toggle="dropdown" href="#"><span
                                            class="badge badge-danger badge-counter">3+</span><i
                                            class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a
                                            class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="mr-3">
                                                <div class="bg-primary icon-circle"><i
                                                        class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="mr-3">
                                                <div class="bg-success icon-circle"><i
                                                        class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="mr-3">
                                                <div class="bg-warning icon-circle"><i
                                                        class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your
                                                    account.</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All
                                            Alerts</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow">
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6>
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle"
                                                    src="assets/img/avatars/avatar4.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Hi there! I am wondering if you can
                                                        help me with a problem I've been having.</span></div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle"
                                                    src="assets/img/avatars/avatar2.jpeg">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>I have the photos that you ordered last
                                                        month!</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle"
                                                    src="assets/img/avatars/avatar3.jpeg">
                                                <div class="bg-warning status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Last month's report looks great, I am
                                                        very happy with the progress so far, keep up the good
                                                        work!</span></div>
                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image mr-3"><img class="rounded-circle"
                                                    src="assets/img/avatars/avatar5.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="font-weight-bold">
                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is
                                                        because someone told me that people say this to all dogs, even
                                                        if they aren't good...</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All
                                            Alerts</a>
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-right"
                                    aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        aria-expanded="false" data-toggle="dropdown" href="#"><span
                                            class="d-none d-lg-inline mr-2 text-gray-600 small">
                                            {{student.name}}</span><img class="border rounded-circle img-profile"
                                            src="/media/{{student.image}}"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a
                                            class="dropdown-item" href="/studentprofile/{{student.pk}}"><i
                                                class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="/"><i
                                                class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Courses Enrolled </h3>
                        <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"
                            onclick="generator()">
                            <i class="fas fa-download fa-sm text-white-50"></i>
                            &nbsp;Generate Report
                        </a>
                    </div>
                    <div class="row">
                        {% for mylist,course in myfile %}
                        <div class="col-md-6 col-xl-3 mb-4">
                            <a href="courses/{{ course.pk }}" style="text-decoration: none; color :black;">
                                <div class="card shadow border-left-info py-2">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col mr-2">
                                                <div class="text-uppercase text-info font-weight-bold text-xs mb-1">
                                                    <span id="course_name">{{course.course_name}}</span>
                                                </div>
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col-auto">
                                                        <div class="text-dark font-weight-bold h5 mb-0 mr-3">
                                                            <span>{{mylist}}%</span>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="progress progress-sm">
                                                            <div class="progress-bar bg-info" aria-valuenow="50"
                                                                aria-valuemin="0" aria-valuemax="100"
                                                                style="width: {{mylist}}%;">
                                                                <span class="sr-only">{{mylist}}%</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto"><i
                                                    class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-xl-8">
                            <!--todo Student Progress chart starts here  -->

                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">Student progress</h6>
                                </div>
                                <div class="card-body">
                                    <!-- !here i need to add the chart -->
                                    <canvas id="progressChart" width="40px" height="40px"></canvas>
                                    <!-- !here i need to add the chart -->
                                </div>
                            </div>
                            <!--todo Student Progress chart ENDS here  -->
                        </div>
                        <div class="col-lg-5 col-xl-4">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary font-weight-bold m-0">Hours Spent On</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-area">
                                        <!--todo added the script tag here so that I can render the site fast-->
                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"
                                            integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw=="
                                            crossorigin="anonymous"></script>
                                        <canvas id="myaChart" width="40px" height="40px"></canvas>
                                        <script>
                                            var ctx = document.getElementById('myaChart').getContext('2d');
                                            ctx.canvas.parentNode.style.width = "350px";
                                            ctx.canvas.parentNode.style.height = "350px";
                                            width = screen.width;
                                            if (width < 600) {
                                                ctx.canvas.parentNode.style.width = "220px";
                                                ctx.canvas.parentNode.style.height = "220px";
                                            }
                                            var myChart = new Chart(ctx, {
                                                type: 'pie',
                                                data: {
                                                    labels: [
                                                        {% for course in courses %}
                                  '{{course.course_name}}',
                                 {% endfor %}      
                    ],
                                            datasets: [{
                                                label: '# of Votes',
                                                data: [
                                                    {% for list in graphlist %}
                           {{ list }},
                                            {% endfor %}
                                            ],
                                                backgroundColor: [
                                                    'rgba(255, 99, 132, 0.2)',
                                                    'rgba(54, 162, 235, 0.2)',
                                                    'rgba(255, 206, 86, 0.2)',
                                                    'rgba(75, 192, 192, 0.2)',
                                                    'rgba(153, 102, 255, 0.2)',
                                                    'rgba(255, 159, 64, 0.2)'
                                                ],
                                                    borderColor: [
                                                        'rgba(255, 99, 132, 1)',
                                                        'rgba(54, 162, 235, 1)',
                                                        'rgba(255, 206, 86, 1)',
                                                        'rgba(75, 192, 192, 1)',
                                                        'rgba(153, 102, 255, 1)',
                                                        'rgba(255, 159, 64, 1)'
                                                    ],
                                                        borderWidth: 1
                    }]
                },
                                            options: {
                                                scales: {
                                                    yAxes: [{
                                                        ticks: {
                                                            beginAtZero: true
                                                        }
                                                    }]
                                                }, scales: false,
                }
            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h3 class="text-primary font-weight-bold m-0">Todo List </h6>
                                        </div>
                                        <div class="col-md-6 ">
                                            <form action='/addtodo/{{student.pk}}/' method="POST"
                                                class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                                {% csrf_token %}
                                                <div class="input-group">
                                                    <input name="query" id="query" for="query"
                                                        class="bg-light form-control border-0 small" type="text"
                                                        placeholder="Add task">
                                                    <div class="input-group-append">
                                                        <button data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                            class="btn btn-primary py-0" type="submit">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <form action="/student/{{student.pk}}" method="POST">
                                        {% for task in tasks %}
                                        {% csrf_token %}
                                        <li class="list-group-item">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col-md-9">
                                                    <p class="mb-0"><strong> <label
                                                                for="{{task.pk}}">{{task.task}}</label></strong></p>
                                                </div>
                                                <div class="col-md-3">
                                                    <a href="done/{{task.pk}}" class="btn btn-primary btn-lg active"
                                                        role="button" aria-pressed="true">Done Tasks</a>
                                                </div>
                                        </li>
                                        {% endfor %}
                            </div>
                            </form>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-white sticky-footer">
        <div class="container my-auto">
            <div class="text-center my-auto copyright"><span>Copyright © CTC 2021</span></div>
        </div>
    </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="{% static 'dashboard/js/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'dashboard/js/chart.min.js' %}"></script>
    <script src="{% static 'dashboard/js/bs-init.js' %}"></script>
    <script src="{% static 'dashboard/js/progress_chart.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{% static 'dashboard/js/theme.js' %}"></script>
    <!--todo to make the pdf nav-->
    <script>
        function generator() {
            var doc = new jsPDF();
            // var element=document.getElementById("course_name");
            // a=element.val();
            // console.log(element);
            // m=a.toString();
            doc.text('Courses Enrolled', 10, 10);
            doc.text('{{course}}', 20, 20);
            doc.text('{{course1}}', 20, 30);
            // doc.text(m, 10, 10);
            doc.save('a4.pdf');
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <script>
        var ctx = document.getElementById("progressChart").getContext("2d");
        var myChart = new Chart(ctx, {
            type: 'line',
            options: {
                scales: {
                    xAxes: [{
                        type: 'time',
                    }]
                }
            },
            data: {
                labels: ["2015-03-15T13:03:00Z", "2015-03-25T13:02:00Z", "2015-04-25T14:12:00Z"],
                datasets: [{
                    label: 'Demo',
                    data: [{
                        t: '2015-03-15T13:03:00Z',
                        y: 12
                    },
                    {
                        t: '2015-03-25T13:02:00Z',
                        y: 21
                    },
                    {
                        t: '2015-04-25T14:12:00Z',
                        y: 32
                    }
                    ],
                    backgroundColor: [
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 99, 132, 0.2)',

                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255,99,132,1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            }
        });
    </script>
</body>

</html>