{% extends 'base.html' %}
{% load static %}

{% block title %}
Teachers - TSEC HACK COURSERA APP
{% endblock %}
{% block body %}
    {% csrf_token %}
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Teachers</h2>
                    {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p> {% endcomment %}
                </div>
                {% for tea in tech %}
                 <!-- <a href="teacher/{{ tea.pk }}" style="text-decoration: none; color :black;"> -->
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="/media/{{tea.teacher_image}}">
                            <div class="card-body info">
                                <h4 class="card-title">{{ tea.teacher_name }}</h4>
                                <h4 class="card-title">{{ tea.teacher_email }}</h4>
                                {% comment %} <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> {% endcomment %}
                                {% comment %} <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

{% endblock %}
{% block js %}{% endblock %}